@tailwind base;
@tailwind components;

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url("../Webfonts/fonts/woff/IRANSansX-Light.woff") format("woff");
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url("../Webfonts/fonts/woff/IRANSansX-Medium.woff") format("woff");
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url("../Webfonts/fonts/woff/IRANSansX-Black.woff") format("woff");
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url("../Webfonts/fonts/woff/IRANSansX-Bold.woff") format("woff");
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url("../Webfonts/fonts/woff/IRANSansX-Regular.woff") format("woff");
}
@tailwind utilities;
